.head-with-border{
    position: relative;
    h2{
        text-align: center;
        background-color: $red-color;
        color: white;
        border-radius: 15px;
        max-width: 400px;
        padding: 10px 15px;
        margin: 40px auto;
        @media (#{$STR-max-mobile}) {
            width: 300PX;
        }
        text-transform: uppercase;
        &::before{
            content: "";
            width: 100%;
            height: 1.5px;
            background-color: $grey-color;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(50%);
            z-index: -1;
        }
    }
}