// $NUM-max-mobile:767px;
// $NUM-min-small:768px;
// $NUM-max-small:991px;
// $NUM-min-medium:992px;
// $NUM-max-medium:1199px;
// $NUM-min-large:1200px;

$STR-max-mobile:"max-width: 767px";
$STR-min-small:"min-width: 768px";
// $STR-max-small:"max-width: 991px";
$STR-min-medium:"min-width: 992px";
// $STR-max-medium:"max-width: 1199px";
$STR-min-large:"min-width: 1200px";

$red-color : #e2494c;
$grey-color : #9c9c9c;

$float-left:left;
$float-right:right;

$text-right:right;
$text-left:left;